.card {
  transition: transform 0.2s;
}
.card:hover {
  transform: translateY(-5px);
}

.addToCartBtn {
  background-color: rgba(255, 216, 20, 1);
  border-radius: 15px;
  color: black;
  font-size: 11px;
}
